body {
  font-family: "halyard-display", sans-serif;
  background: #f7f7f7;
  color: #444444;
  font-weight: 300;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */

#header #title {
  position: relative;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  z-index: 1000;
}

#header .title-inner {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

/* NAV */

.nav-inner {
  max-width: 280px;
  margin: 0 auto;
  padding: 10px;
}

#nav {
  position: absolute;
  width: 100%;
  background-color: #f7f7f7;
  font-weight: 300;
}

#nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  top:0;
  left:0;
  right:0;
  /* border-bottom: 1px solid #E0E0E0; */
}

#nav #top-logo {
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 40px;
  font-size: 26px;
  color: #444444;
}

#nav #top-logo img {
  width: 20px;
}

/* MENU */

.menu {
  color: #A9A9A9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  align-items: center;
}

/* CONTENT */

#content {
  background-color: white;
}

#content .inner {
  padding: 40px;
  padding-top: 5px;
}

#content .content-section {
  border-top: 1px solid #E0E0E0;
  height: 400px;
}

#content .content-header {
  font-size: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content .content-header-inner {
  display: inline-block;
}

#content #about .content-header-inner {
  color: #762626;
}

#content #code .content-header-inner {
  color: #336B87;
}

#content #motion .content-header-inner {
  color: #90AFC5;
}

#content #contact .content-header-inner {
  color: #2A3132;
}

/* FOOTER */

#footer .inner {
  padding: 10px;
}

#footer {
  border-top: 1px solid #E0E0E0;
  width: 100%;
  bottom: 0;
  z-index: 999;
  background-color: #f7f7f7;
}

#footer img.social-icon {
  width: 15px;
}

#footer.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom:0;
  left:0;
  right:0;
}

#footer a.img-link {
  height: 15px;
}

#footer .footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer .menu {
  justify-content: flex-end;
}

#footer .menu-item {
  padding-left: 12px;
}

/* LINKS */

a:hover {
  color: #444444;
}

a.img-link:hover {
  opacity: 0.5;
}
